.row
  .col-md-3.mbtm15
    = text_field_tag("SupplierItemNumber", nil, class: "form-control", placeholder: "Supplier Item Number")
  .col-md-3.mbtm15
    = text_field_tag("ArtlineItemNumber", nil, class: "form-control", placeholder: "Artline Item Number")
.row
  .col-md-3.mbtm15
    = text_field_tag("Size", nil, class: "form-control", placeholder: "Size")
  .col-md-3.mbtm15
    = text_field_tag("Finish", nil, class: "form-control", placeholder: "Finish")
.row
  .col-md-3.mbtm15
    = text_field_tag("Category", nil, class: "form-control", placeholder: "Category")