.project_item
  %hr
  .row
    .col-md-12
      %spna.project_details
        Name :
      %span
        = item.type
      .btn.btn-danger.float_right{id: item.id,onclick: "delete_item(this)"}
        delete
  .row
    .col-md-3
      %spna.project_details
        Tag :
      %span
        = item.tag
    .col-md-2
      %spna.project_details
        Quantity :
      %span
        = item.quantity
  .row
    .col-md-6
      %div
        %spna.project_details
          Lamp description:
        %span
          = item.product.description
      %div
        %span
        = image_tag(item.product.source.url, class: "product-img") if item.product.source?
      %div
        %spna.project_details
          Size :
        %span
          = item.product.size
  .row
    .col-md-6
      %div
        %spna.project_details
          Shade :
        %span
          = item.product.shade.description
      %div
        %span
        = image_tag(item.product.shade.source.url, class: "product-img") if item.product.shade.source?
  .row
    .col-md-6
      %div
        %spna.project_details
          Bulb :
        %span
          = item.product.bulb.description
  .row
    .col-md-12
      %spna.project_details
        Special Instructions :
      %div
        = item.special_instructions