= form_for @product, as: :product, url:( @product.new_record? ? products_path(@product) : product_path(@product)) do |f|
  = hidden_field_tag :item_type, @product.class
  = hidden_field_tag "product[artwork_type]", "Colorboard"
  - if @product.errors.present?
    #error_explanation
      %h2 #{@product.errors.count} error prohibited this user from being saved:
      %ul
        - @product.errors.full_messages.each do |error|
          %li
            = "#{error}"
  = render "products/forms/artwork/similar_fields", f: f
  .row
    .col-md-3.mbtm15
      - if @product.persisted?
        - if ["Lite Board","Float Board","Boxed Board","Doublelite"].include?@product.board_option
          = f.select :acrylic_thickness, options_for_select(["Lite Board","Float Board","Boxed Board","Doublelite","add"],@product.board_option),{prompt: "Board Options"} , class: "form-control", onchange:"add_field(this)",data:{name: 'board_option'},required: true
        - else
          Board Options
          %input.form-control{:name => "product[new_board_option][name]",value: @product.board_option , required: "required", type: "text"}
      - else
        = f.select :acrylic_thickness, options_for_select(["Lite Board","Float Board","Boxed Board","Doublelite","add"]),{prompt: "Board Options"} , class: "form-control", onchange:"add_field(this)",data:{name: 'board_option'},required: true
  .row
    .col-md-3.mbtm15.board_option

  = f.submit nil, class: "btn btn-success mbtm15"