.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][new_frame][supplier_item_number]", nil, class: "form-control", placeholder: "Supplier Item Number")
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][new_frame][artline_item_number]", nil, class: "form-control", placeholder: "Artline Item Number")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][new_frame][size]", nil, class: "form-control", placeholder: "Size")
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][new_frame][finish]", nil, class: "form-control", placeholder: "Finish")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][new_frame][category]", nil, class: "form-control", placeholder: "Category")