.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][image][title]", nil, class: "form-control", placeholder: "Title", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][image][artist]", nil, class: "form-control", placeholder: "Artist", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][image][width]", nil, class: "form-control", placeholder: "Image Width", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][product][new][image][height]", nil, class: "form-control", placeholder: "Image Height", required: true)
.row
  .fileUpload.btn.btn-primary.mbtm15
    %span Upload image
    = file_field_tag("project[item_list][][product][new][image][source]", class: "upload")
