= form_for @product, as: :product, url:( @product.new_record? ? products_path(@product) : product_path(@product)) do |f|
  = hidden_field_tag :item_type, @product.class
  - if @product.errors.present?
    #error_explanation
      %h2 #{@product.errors.count} error prohibited this user from being saved:
      %ul
        - @product.errors.full_messages.each do |error|
          %li
            = "#{error}"
  .row
    .col-md-3.mbtm15
      Name
      = f.text_field :name, class: "form-control", required: true
    .col-md-3.mbtm15
      Size
      = f.text_field :size, class: "form-control", required: true
  .row
    .col-md-2.fileUpload.btn.btn-primary.mbtm15
      %span Upload image
      = f.file_field :source, class: "upload"
  .row
    .col-md-3.mbtm15
      Fire Rating
      = f.select :fire_rating, options_for_select(["Yes", "No"],@product.fire_rating),{:prompt => "Fire Rating"} , class: "form-control",required: true
  .row
    .col-md-3.mbtm15
      Container
      = f.select :container_id, options_for_select(Container.pluck(:name,:id).push('add'),@product.container_id),{prompt: "Container"} , class: "form-control container_no", onchange:"new_item(this)", data:{name: 'Container'}, required: true
  .container.pad0px
  = f.submit nil, class: "btn btn-success mbtm15"


