= form_for @product, as: :product, url:( @product.new_record? ? products_path(@product) : product_path(@product)) do |f|
  = hidden_field_tag :item_type, @product.class
  - if @product.errors.present?
    #error_explanation
      %h2 #{@product.errors.count} error prohibited this user from being saved:
      %ul
        - @product.errors.full_messages.each do |error|
          %li
            = "#{error}"
  .row
    .col-md-3.mbtm15
      = f.text_field :size, class: "form-control", placeholder: "Size",required: true
  .row
    .col-md-3.mbtm15
      = f.text_field :finish, class: "form-control", placeholder: "Finish",required: true
  .row
    .col-md-3.mbtm15
      = f.text_field :category, class: "form-control", placeholder: "Category"
  = f.submit nil, class: "btn btn-success mbtm15"