%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row.txt-clr
        %ul.nav.top-menu
          %li
            = link_to "Create New Project Manager", new_users_path,class:'btn'
          %li
            = form_tag(users_search_path, method: "get") do
              %input.form-control{placeholder: "Search with fname or lname", type: "text", name: "key"}
    %section.panel
      %header.panel-heading.no-border
        Project manager's
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th First Name
            %th Last Name
            %th Email
            %th Action
        %tbody
        - @users.each_with_index do |user,index|
          %tr
            %td
              #{index+1}
            %td
              #{user.fname}
            %td
              #{user.lname}
            %td
              #{user.email}
            %td
              - unless user.is?(:super_admin)
                .btn-group
                  = link_to("", destroy_user_path(user.id),method: :delete , class: "btn glyphicon glyphicon-trash red" )
      .flickr_pagination
        = will_paginate @users