%section#main-content
  %section.wrapper
    %h2 Create Project Manager
    %section.panel
      %div.panel-body.ptop35
        = form_for(@user, url: users_path) do |f|
          - if @user.errors.present?
            #error_explanation
              %h2 #{@user.errors.count} error prohibited this user from being saved:
              %ul
                - @user.errors.full_messages.each do |k|
                  %li
                    = "#{k}"
          %div.col-md-12
            %div.row.mbtm15
              %div.col-sm-3
                = f.text_field :fname, autofocus: true,class: "form-control",placeholder: "First Name", required: true
              %div.col-sm-3
                = f.text_field :lname, autofocus: true,class: "form-control",placeholder: "Last Name", required: true
            %div.row.mbtm15
              %div.col-sm-3
                = f.telephone_field :phone,class: "form-control",placeholder: "Phone", required: true
              %div.col-sm-3
                = f.email_field :email, autofocus: true,class: "form-control",placeholder: "Email", required: true
            %div.row.mbtm15
              %div.col-sm-3
                - if @validatable
                  %em
                    (#{@minimum_password_length} characters minimum)
                = f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "Password", required: true
              %div.col-sm-3
                = f.password_field :password_confirmation, autocomplete: "off",class: "form-control",placeholder: "Password Confirmation", required: true
          %div.col-md-12
            .actions
              = f.submit "Create",class: "btn btn-primary"
