.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][tag]", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][quantity]", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][number]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:artline_item_number).push('add')),prompt: "Item Number" , class: "form-control artificialplant_no", onchange:"new_item(this)", data:{name: 'ArtificialPlant'})
.artificialplant
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][fire_rating]", options_for_select(["Yes", "No"]),prompt: "Fire Rating" , class: "form-control" )
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][container_number]", options_for_select(Container.all.map(&:number).push('add')),prompt: "Container Number" , class: "form-control container_no", onchange:"new_item(this)", data:{name: 'Container'})
.container.pad0px
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions")
.row
  .col-md-3.mbtm15
    = label_tag(:tot_cost, "Total Cost:")