= hidden_field_tag "project[item_list][][type]", "Artwork"
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][tag]", nil, class: "form-control", placeholder: "Tag", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][quantity]", nil, class: "form-control", placeholder: "Quantity", required: true)
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][supplier_id]", options_for_select(Companies::Supplier.all.map{|s|[s.name, s.id]}.push('add')),prompt: "Publisher" , class: "form-control supplier_no", onchange:"new_item(this)", data:{name: 'Supplier'}, required: true)
.supplier
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][number]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:id).push('add')),prompt: "Image Number" , class: "form-control" , onchange:"new_item(this)", data:{name: 'Artwork'}, required: true)
.artwork
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][title]", nil, class: "form-control", placeholder: "Title", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][image_width]", nil, class: "form-control", placeholder: "Image Width", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][image_height]", nil, class: "form-control", placeholder: "Image Height", required: true)
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][matting]", options_for_select(["Single", "Double","None","add"]),prompt: "Matting" , class: "form-control matting_no", onchange:"new_field(this)",data:{name: 'Matting'}, required: true)
  .col-md-3.mbtm15
    = number_field_tag("project[item_list][][mat_size]", 3, class: "form-control", placeholder: "Mat Size",min: 0, required: true )
.row
  .col-md-3
    .matting
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][mat_special_instructions]", nil, class: "form-control", placeholder: "Mat Special Instructions", required: true)
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][glazing]", options_for_select(["Glass", "Plexie","None"]),prompt: "Glazing" , class: "form-control" , required: true)
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][glazing_special_instructions]", nil, class: "form-control", placeholder: "Glazing Special Instructions", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][glass_width]", nil, class: "form-control", placeholder: "Glass Width", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][glass_height]", nil, class: "form-control", placeholder: "Glass Height", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][glass_united_inches]", nil, class: "form-control", placeholder: "Glass United Inches", required: true)
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][moulding_company_id]", options_for_select(MouldingCompany.all.map{|m|[m.name, m.id]}.push('add')),prompt: "Moulding Company" , class: "form-control mouldingcompany_no", onchange:"new_item(this)", data:{name: 'MouldingCompany'}, required: true)
.mouldingcompany
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][frame_id]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:id).push('add')),prompt: "Frame Number" , class: "form-control frame_no", onchange:"new_item(this)", data:{name: 'Frame'}, required: true )
.frame
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][category]", nil, class: "form-control", placeholder: "Category", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][frame_size]", nil, class: "form-control", placeholder: "Frame Size", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][overall_width]", nil, class: "form-control", placeholder: "Overall Width", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][overall_height]", nil, class: "form-control", placeholder: "Overall Height", required: true)
.row
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][framing_cost]", nil, class: "form-control", placeholder: "Framing Cost", required: true)
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions", required: true)
.row
  .col-md-3.mbtm15
    = label_tag(:tot_cost, "Total Cost:")



