.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][tag]", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][quantity]", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15
    = select_tag("project[items][][publisher]", options_for_select(Publisher.all.map(&:name).push('add')),prompt: "Publisher" , class: "form-control publisher_no", onchange:"new_item(this)", data:{name: 'Publisher'})
  .col-md-3.mbtm15
    = select_tag("project[items][][image_number]", options_for_select(["other"]),prompt: "Image Number" , class: "form-control" )
.row
  .col-md-6
    .publisher
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][title]", nil, class: "form-control", placeholder: "Title")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][image_width]", nil, class: "form-control", placeholder: "Image Width")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][image_height]", nil, class: "form-control", placeholder: "Image Height")
.row
  .col-md-3.mbtm15
    = select_tag("project[items][][matting]", options_for_select(["Single", "Double","None","Other"]),prompt: "Matting" , class: "form-control")
  .col-md-3.mbtm15
    = number_field_tag("project[items][][mat_size]", 3, class: "form-control", placeholder: "Mat Size",min: 0 )
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[items][][mat_special_instructions]", nil, class: "form-control", placeholder: "Mat Special Instructions")
.row
  .col-md-3.mbtm15
    = select_tag("project[items][][glazing]", options_for_select(["Glass", "Plexie","None"]),prompt: "Glazing" , class: "form-control" )
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[items][][glazing_special_instructions]", nil, class: "form-control", placeholder: "Glazing Special Instructions")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][glass_width]", nil, class: "form-control", placeholder: "Glass Width")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][glass_height]", nil, class: "form-control", placeholder: "Glass Height")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][glass_united_inches]", nil, class: "form-control", placeholder: "Glass United Inches")
.row
  .col-md-3.mbtm15
    = select_tag("project[items][][moulding_company]", options_for_select(MouldingCompany.all.map(&:name).push('add')),prompt: "Moulding Company" , class: "form-control mouldingcompany_no", onchange:"new_item(this)", data:{name: 'MouldingCompany'})
  .col-md-3.mbtm15
    = select_tag("project[items][][frame_number]", options_for_select(Frame.all.map(&:number).push('add')),prompt: "Frame Number" , class: "form-control frame_no", onchange:"new_item(this)", data:{name: 'Frame'} )
.row
  .col-md-6
    .mouldingcompany
.row
  .col-md-12
    .frame
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][category]", nil, class: "form-control", placeholder: "Category")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][frame_size]", nil, class: "form-control", placeholder: "Frame Size")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][overall_width]", nil, class: "form-control", placeholder: "Overall Width")
  .col-md-3.mbtm15
    = text_field_tag("project[items][][overall_height]", nil, class: "form-control", placeholder: "Overall Height")
.row
  .col-md-3.mbtm15
    = text_field_tag("project[items][][framing_cost]", nil, class: "form-control", placeholder: "Framing Cost")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[items][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions")
.row
  .col-md-3.mbtm15
    = label_tag(:tot_cost, "Total Cost:")



