.row
  .col-md-3.mbtm15
    = text_field_tag("Tag", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("Quantity", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15
    = select_tag("New Item", options_for_select(["Old Item", "New Item"]),include_blank: "Item Number" , class: "form-control")
  .col-md-3.mbtm15
    = select_tag("Shade Options", options_for_select(["Old Item", "New Item"]),include_blank: "Shade Options" , class: "form-control" )
.row
  .col-md-3.mbtm15
    = select_tag("Bulb Options", options_for_select(["Old Item", "New Item"]),include_blank: "Bulb Options" , class: "form-control")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("Special Instructions", nil, class: "form-control", placeholder: "Special Instructions")
.row
  .col-md-3.mbtm15
    = label_tag(:tot_cost, "Total Cost:")