.row
  .col-md-3.mbtm15
    = hidden_field_tag "project[item_list][][type]", "Lamp"
    = text_field_tag("project[item_list][][tag]", nil, class: "form-control", placeholder: "Tag", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][quantity]", nil, class: "form-control", placeholder: "Quantity", required: true)
.row
  .col-md-3.mbtm15
    -#TODO need to changed type specific
    = select_tag("project[item_list][][number]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:artline_item_number).push('add')),prompt: "Item Number" , class: "form-control lamb_no", onchange:"new_item(this)", data:{name: 'Lamp'}, required: true)
.lamp

.row
  .col-md-3.mbtm15
    -#TODO need to changed type specific
    = select_tag("project[item_list][][shade_number]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:artline_item_number).push('add')),prompt: "Shade Options" , class: "form-control shade_no", onchange:"new_item(this)", data:{name: 'Shade'}, required: true )
.shade
.row
  .col-md-3.mbtm15
    -#TODO need to changed type specific
    = select_tag("project[item_list][][bulb_number]", options_for_select(Price.where(:artline_item_number.exists=>true).all.map(&:artline_item_number).push('add')),prompt: "Bulb Options" , class: "form-control bulb_no", onchange:"new_item(this)", data:{name: 'Bulb'}, required: true)
.bulb
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions", required: true)
.row
  .col-md-3.mbtm15
    = label_tag(:total_cost, "Total Cost:")