.row
  .col-md-3.mbtm15
    = hidden_field_tag "project[item_list][][type]", "Lamp"
    = text_field_tag("project[item_list][][tag]", nil, class: "form-control", placeholder: "Tag", required: true)
  .col-md-3.mbtm15
    = text_field_tag("project[item_list][][quantity]", nil, class: "form-control", placeholder: "Quantity", required: true)
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][product][existing][number]", options_for_select(Lamp.artine_item_numbers.push('add')),prompt: "Item" , class: "form-control lamb_no", onchange:"new_item(this)", data:{name: 'Lamp'}, required: true)
.lamp

.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][product][existing][shade_id]", options_for_select(Shade.all.map{|x| [x["description"],x["_id"]]}.push('add')),prompt: "Shade Options" , class: "form-control shade_no", onchange:"new_item(this)", data:{name: 'Shade'}, required: true )
.shade
.row
  .col-md-3.mbtm15
    = select_tag("project[item_list][][product][existing][bulb_id]", options_for_select(Bulb.all.map{|x| [x["description"],x["_id"]]}.push('add')),prompt: "Bulb Options" , class: "form-control bulb_no", onchange:"new_item(this)", data:{name: 'Bulb'}, required: true)
.bulb
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("project[item_list][][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions")
.row
  .col-md-3.mbtm15
    = label_tag(:total_cost, "Total Cost:")