.row
  .col-md-3.mbtm15
    = text_field_tag("item[][tag]", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("item[][quantity]", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15
    = select_tag("item[][bevel]", options_for_select(["Yes", "No"]),prompt: "Bevel" , class: "form-control" )
  .col-md-3.mbtm15
    = number_field_tag("item[][bevel_size]", 1, class: "form-control", placeholder: "Bevel Size",min: 0 )
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("item[][bevel_special_instructions]", nil, class: "form-control", placeholder: "Bevel Special Instructions")
.row
  .col-md-3.mbtm15
    = select_tag("item[][glazing]", options_for_select(["Glass", "Plexie"]),prompt: "Glazing" , class: "form-control" )
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("item[][glazing_special_instructions]", nil, class: "form-control", placeholder: "Glazing Special Instructions")
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][glass_width]", nil, class: "form-control", placeholder: "Glass Width")
  .col-md-3.mbtm15
    = text_field_tag("item[][glass_height]", nil, class: "form-control", placeholder: "Glass Height")
.row
  .col-md-3.mbtm15
    = select_tag("item[][moulding_company]", options_for_select(["other"]),prompt: "Moulding Company" , class: "form-control" )
  .col-md-3.mbtm15
    = select_tag("item[][frame_number]", options_for_select(["other"]),prompt: "Frame Number" , class: "form-control" )
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][category]", nil, class: "form-control", placeholder: "Category")
  .col-md-3.mbtm15
    = text_field_tag("item[][frame_size]", nil, class: "form-control", placeholder: "Frame Size")
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][overall_width]", nil, class: "form-control", placeholder: "Overall Width")
  .col-md-3.mbtm15
    = text_field_tag("item[][overall_height]", nil, class: "form-control", placeholder: "Overall Height")
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][united_inches]", nil, class: "form-control", placeholder: "United Inches")
.row
  .col-md-3.mbtm15.txt_area
    = text_area_tag("item[][special_instructions]", nil, class: "form-control", placeholder: "Special Instructions")
.row
  .col-md-3.mbtm15
    = label_tag(:tot_cost, "Total Cost:")