.row
  .col-md-3.mbtm15
    = text_field_tag("item[][tag]", nil, class: "form-control", placeholder: "Tag")
  .col-md-3.mbtm15
    = text_field_tag("item[][quantity]", nil, class: "form-control", placeholder: "Quantity")
.row
  .col-md-3.mbtm15
    = select_tag("item[][publisher]", options_for_select(["other"]),prompt: "Publisher" , class: "form-control")
  .col-md-3.mbtm15
    = select_tag("item[][image_number]", options_for_select(["other"]),prompt: "Image Number" , class: "form-control" )
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][title]", nil, class: "form-control", placeholder: "Title")
.row
  .col-md-3.mbtm15
    = text_field_tag("item[][image_width]", nil, class: "form-control", placeholder: "Image Width")
  .col-md-3.mbtm15
    = text_field_tag("item[][image_height]", nil, class: "form-control", placeholder: "Image Height")

