
%section.wrapper
  %h1 Artline Order
  %section.panel
    .panel-body.ptop35

      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Product details
            %th Quantity
            %th Supplier item number
            %th Each Cost
            %th Cost

        %tbody
          - @order.items.to_a.each_with_index do |item, index |
            %tr
              %td
                #{index+1}
              %td
                - if item["type"].eql?("Mirror")
                  = render "projects/product_details/#{item["type"].downcase}", item: item
                - elsif item["type"].eql?("Lamp")
                  = render "projects/product_details/#{item["type"].downcase}", item: item
                - elsif item["type"].eql?("ArtificialPlant")
                  = render "projects/product_details/#{item["type"].downcase}", item: item
                - elsif item["type"].eql?("Artwork")
                  = render "projects/product_details/artworks/#{item.product["artwork_type"].downcase}", item: item
              %td
                = item["quantity"]
              %td
                = item["number"]
              %td
                = @order.prices[item["number"]].to_f
              %td
                = @order.prices[item["number"]].to_f * item["quantity"].to_f
            -#%tr
            -#  %td{colspan:4}
            -#  %td
            -#    Total
            -#  %td
      -#- if @order.shipment_date?# && @order.shipment_details
      -#  %b
      -#    You have alredy entered the shipment date.
      -#- else
      = form_for(@order, method: :patch) do |f|
        .row
          .col-md-3.mbtm15
            = f.label :shipment_date
            = f.date_field :shipment_date,value: @order.shipment_date, class: "form-control",required: true
        -#.row
        -#  .col-md-6.mbtm15
        -#    =# f.label :shipment_details
        -#    =# f.text_area :shipment_details, class: "form-control",required: true
        = f.submit nil, class: "btn btn-success"

