
%section.wrapper
  %h1 Artline Order
  %section.panel
    .panel-body.ptop35

      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Product details
            %th Quantity
            %th Supplier item number
            %th Each Cost
            %th Cost

        %tbody
          - @order.items.to_a.each_with_index do |item, index |
            %tr
              %td
                #{index+1}
              %td
                .row
                  .col-md-12
                    %div
                      %span.project_details
                        Name :
                      = item["type"]
                      &nbsp; &nbsp; &nbsp;

                    .row
                      .col-md-4{style: "padding-right: 0px;"}
                        - unless item.product.source.file.blank?
                          = image_tag(item.product.source.url, class: "product-img")
                        = "Size: #{item.product.size}"
                      .col-md-8
                        = item.product.description
                    - item.product.addons.each do |addon|
                      .project_details
                        #{addon}:
                      - addon = item.product.instance_eval(addon)
                      .row
                        .col-md-3{style: "padding-right: 0px;"}
                          - unless addon.source.file.blank?
                            = image_tag(addon.source.url, class: "product-img")
                        .col-md-9
                          = addon.details
              %td
                = item["quantity"]
              %td
                = item["number"]
              %td
                = @order.prices[item["number"]].to_f
              %td
                = @order.prices[item["number"]].to_f * item["quantity"].to_f
            -#%tr
            -#  %td{colspan:4}
            -#  %td
            -#    Total
            -#  %td
      = form_for(@order, method: :patch) do |f|
        .row
          .col-md-3.mbtm15
            = f.label :shipment_date
            = f.date_field :shipment_date, class: "form-control",required: true
        .row
          .col-md-6.mbtm15
            = f.label :shipment_details
            = f.text_area :shipment_details, class: "form-control",required: true
        -#= f.submit "Update", class: "btn btn-success"
        = f.submit nil, class: "btn btn-success"

