-#%section#main-content.cus
-#  %section.wrapper
-#    %div.serch_bg
-#      #top_menu.nav.search-row
-#    .panel
-#      .panel-body
-#        %h2
-#          Enter tracking Details
-#        = form_tag(create_order_tracking_orders_path, method: :post) do
-#          .row
-#            .col-md-3.mbtm15
-#              = text_field_tag("shipment[po_number]", nil, class: "form-control", placeholder: "PO Number", required: true)
-#          .row
-#            .col-md-3.mbtm15
-#              = select_tag("shipment[stage]", options_for_select(Order::STAGE.to_a.map(&:reverse)),prompt:"Tracking stage", class: "form-control", required: true)
-#          .row
-#            .col-md-6.mbtm15
-#              = text_area_tag("shipment[description]", nil, class: "form-control", placeholder: "Description", required: true)
-#          .actions
-#            = submit_tag("Submit", class: "btn btn-primary submit")



%section.wrapper
  %h1 Artline Order
  %section.panel
    .panel-body.ptop35

      %table.table.table-bordered
        %thead
          %tr
            %th Product details
            %th Quantity
            %th Supplier item number
            %th Each Cost
            %th Cost

        %tbody
          - @project.orders.each do |order, index|

            - order.items.each do |item |
              %tr
                %td
                  - if item["type"].eql?("Mirror")
                    = render "projects/product_details/#{item["type"].downcase}", item: item
                  - elsif item["type"].eql?("Lamp")
                    = render "projects/product_details/#{item["type"].downcase}", item: item
                  - elsif item["type"].eql?("ArtificialPlant")
                    = render "projects/product_details/#{item["type"].downcase}", item: item
                  - elsif item["type"].eql?("Artwork")
                    = render "projects/product_details/artworks/#{item.product["artwork_type"].downcase}", item: item
                %td
                  = item["quantity"]
                %td
                  = item["number"]
                - each_price = Price.where(project_id: @project.id,product_id: item.product.id).first.supplier_cost
                %td
                  = each_price
                %td
                  = each_price * item["quantity"].to_i
            %tr
              %td{colspan: 2}
                %div
                  %b
                    Expected shipment date:
                  = order.shipment_date? ? order.shipment_date : "Not yet enterd"
                %b
                  Shipment Details :
                %div
                  = order.shipment_details? ? order.shipment_details : "Not yet entered"