%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row
    .panel
      .panel-body
        %h2
          Enter tracking Details
        = form_tag(create_order_tracking_orders_path, method: :post) do
          .row
            .col-md-3.mbtm15
              = text_field_tag("shipment[po_number]", nil, class: "form-control", placeholder: "PO Number")
          .row
            .col-md-3.mbtm15
              = select_tag("shipment[stage]", options_for_select(Order::STAGE.to_a.map(&:reverse)),prompt:"Tracking stage", class: "form-control")
          .row
            .col-md-6.mbtm15
              = text_area_tag("shipment[description]", nil, class: "form-control", placeholder: "Description")
          .actions
            = submit_tag("Submit", class: "btn btn-primary submit")