- if @project.errors.any?
  #error_explanation
    %h2
      = pluralize(@project.errors.count, "error")
      prohibited this project from being saved:
    %ul
      - @project.errors.full_messages.each do |message|
        %li= message
.row
  .col-md-3.mbtm15
    = label_tag(:Quote, "Quote Number:")
    = @project.quote_number? ? @project.quote_number : nil
.row
  .col-md-3.mbtm15
    Project Name
    = text_field_tag("project[name]", @project.name, class: "form-control", required: true)
  .col-md-3.mbtm15
    Date
    = date_field_tag("project[date]", @project.date? ? @project.date.strftime("%Y-%m-%d") : Date.today, class: "form-control", placeholder: "Date", required: true)
.row
  .col-md-3.mbtm15
    Company Name
    = select_tag("project[client_id]", options_for_select(Companies::Client.all.map{|c|[c.name, c.id]}.push(['add']),@project.client_id),prompt: "Choose Company" , class: "form-control", id:"project_client_id", required: true)
  - if @project.client_id?
    .col-md-3.mbtm15
      Attention
      = select_tag("project[client_attention]", options_for_select(@project.client.attention,@project.client_attention),prompt: "Attention" , class: "form-control", required: true )
  - else
    .col-md-3.mbtm15
      Attention
      = select_tag("project[client_attention]", options_for_select([]),prompt: "Attention" , class: "form-control", required: true )
.row
  .col-md-3
  .col-md-3
    .company_client
= render 'companies/form', client: @project.client_id? ? @project.client : nil
.row
  .col-md-3.mbtm15
    Sales Representative
    = select_tag("project[sales_rep]", options_for_select(SalesRep.pluck(:name).push("add","None"),@project.sales_rep),prompt: "Sales Rep", onchange:"add_sales_rep(this)" , class: "form-control", placeholder: "Attention" , required: true)
.row
  .col-md-3.mbtm15
    .sales_rep

- if @project.items.count > 0
  = hidden_field_tag "item_to_be_deleted",nil,id: "item_to_be_deleted"
  - @project.items.each do |item|
    - if item["type"].eql?("Mirror")
      = render "projects/edit/#{item["type"].downcase}", item: item
    - elsif item["type"].eql?("Lamp")
      = render "projects/edit/#{item["type"].downcase}", item: item
    - elsif item["type"].eql?("ArtificialPlant")
      = render "projects/edit/#{item["type"].downcase}", item: item
    - elsif item["type"].eql?("Artwork")
      = render "projects/edit/artworks/#{item.product["artwork_type"].downcase}", item: item
  %hr
.row
  .col-md-3.mbtm15
    = select_tag("select_product", options_for_select(Categories.to_a.map(&:reverse)),prompt: "Select Product",  onchange:"getForm(this)", class: "form-control select_product")

.row
  .col-md-3.mbtm15
    = link_to "Add another item","#", id: "add_another_item"

.row.mm
  .col-md-12.display_item
.actions
  = submit_tag("Submit", class: "btn btn-primary submit")
