%section#main-content.cus
  %section.wrapper
    %section.panel
      .product_layer
        - unless @items[true].blank?
          #items_without_price
            %header.panel-heading.no-border
              Quoted Product's
            .row
              .col-md-3
                Serial No.
              .col-md-3
                Product Name
              .col-md-3
                Artline Number
              .col-md-3
                Supplier Cost

            - @items[true].to_a.each_with_index do |item, index |
              .row
                .col-md-3
                  = index+1
                .col-md-3
                  = item["type"]
                .col-md-3
                  = item["number"]
                .col-md-3
                  = item.supplier_cost
        - unless @items[false].blank?
          #items_without_price
            %header.panel-heading.no-border
              Need Quoting
            .row
              .col-md-3
                Serial No.
              .col-md-3
                Product Name
              .col-md-3
                Artline Number
              .col-md-3
                Supplier List
            - @items[false].to_a.each_with_index do |item, index |

              .row
                .col-md-3
                  = index+1
                .col-md-3
                  = item["type"]
                .col-md-3
                  = item["number"]
                .col-md-3
                  .example
                    = select_tag("suppliers", options_for_select(Companies::Supplier.all.map{|c|[c.name, c.id]}), class:"example-multiple-selected", multiple: true, data:{item_id: item.product_id.to_s})
      %br
      .row

        - if @items[false].blank?
          .col-md-4
            %br
            = link_to "Email Customer Quote", "#"
            %br
            = link_to "Download Customer Quote", "#"
        - else
          .col-md-4
            = link_to "Request Suppliers Quote", "#", id: "request_suppliers_quote"
        .col-md-3



:javascript
  $('.example-multiple-selected').multiselect();



  $("#request_suppliers_quote").click(function(e){
      e.preventDefault();
      $data = new Object();
      $("#items_without_price select").each(function(index){
        $select = $(this);
        if($select.val()){
          $.each($select.val(), function(index, value){
            if($data[value]){
               console.log($select.attr("data-item-id"));
               $data[value] = $data[value].concat($select.attr("data-item-id"))
            }else{
               $data[value] = [$select.attr("data-item-id")]
            }
          });
        }
      });

      if(!$.isEmptyObject($data)){
        $.ajax({
          url: "/projects/request_supplier_qoute",
          method: 'POST',
          dataType: 'json',
          data: {rsq_data: $data},
          success: function(data){
            alert("Request Successfully sent")
            location= data.redirect_url;
          },
          error: function(data){
          }

        })
      }else{
          alert("Oops! please choose atleast one supplier.");
      }

  })
