%section#main-content.cus
  %section.wrapper
    %section.panel
      .product_layer
        - unless @items[true].blank?
          #items_without_price
            %header.panel-heading.no-border
              Quoted Product's
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Product Name
                  %th Artline Number
                  %th Supplier Cost
              %tbody
              - @items[true].to_a.each_with_index do |item, index |
                %tr
                  %td
                    #{index+1}
                  %td
                    = item["type"]
                  %td
                    = item["number"]
                  %td
                    = item.supplier_cost
        - unless @items[false].blank?
          #items_without_price
            %header.panel-heading.no-border
              Need Quoting
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Product Name
                  %th Artline Number
                  %th Supplier List
              %tbody
              - @items[false].to_a.each_with_index do |item, index |
                %tr
                  %td
                    #{index+1}
                  %td
                    = item["type"]
                  %td
                    = item["number"]
                  %td{style: "width: 36%"}
                    = select_tag("suppliers", options_for_select(Companies::Supplier.all.map{|c|[c.name, c.id]}), class:"example-multiple-selected", multiple: true, data:{item_id: item.product_id.to_s})
        - if @items[false].blank?
          .col-md-12
            %p
              = link_to "Email Customer Quote",'#',class: "btn btn-primary" #send_quotation_project_url(@project.id), remote:true
          .col-md-12
            %p
              = link_to "Download Customer Quote", customer_qoute_project_url(@project.id, format: 'pdf'), target: "_blank",class: "btn btn-primary"
          .col-md-12
            %p
              = link_to "Place Order", "#",class: "btn btn-primary"
        - else
          .col-md-12
            = link_to "Request Suppliers Quote", "#", id: "request_suppliers_quote",class: "btn btn-primary"
:javascript
  $('.example-multiple-selected').multiselect({
      buttonWidth: '293px',
      maxHeight: 192,
  });



  $("#request_suppliers_quote").click(function(e){
      e.preventDefault();
      $data = new Object();
      $("#items_without_price select").each(function(index){
        $select = $(this);
        if($select.val()){
          $.each($select.val(), function(index, value){
            if($data[value]){
               console.log($select.attr("data-item-id"));
               $data[value] = $data[value].concat($select.attr("data-item-id"))
            }else{
               $data[value] = [$select.attr("data-item-id")]
            }
          });
        }
      });

      if(!$.isEmptyObject($data)){
        $.ajax({
          url: "/projects/request_supplier_qoute",
          method: 'POST',
          dataType: 'json',
          data: {rsq_data: $data},
          success: function(data){
            alert("Request Successfully sent")
            location= data.redirect_url;
          },
          error: function(data){
          }

        })
      }else{
          alert("Oops! please choose atleast one supplier.");
      }

  })
