
.row
  .col-md-3.mbtm15
    = text_field_tag("company[name]", nil, class: "form-control", placeholder: "Company Name")
  .col-md-3.mbtm15
    = text_field_tag("company[attention]", nil, class: "form-control", placeholder: "Attention")
.row
  .col-md-3.mbtm15
    = text_field_tag("company[address]", nil, class: "form-control", placeholder: "Address")
  .col-md-3.mbtm15
    = text_field_tag("company[city]", nil, class: "form-control", placeholder: "City")
.row
  .col-md-3.mbtm15
    = text_field_tag("company[state]", nil, class: "form-control", placeholder: "State")
  .col-md-3.mbtm15
    = text_field_tag("company[zip]", nil, class: "form-control", placeholder: "Zip")
.row
  .col-md-3.mbtm15
    = phone_field_tag("company[phone]", nil, class: "form-control", placeholder: "Phone")
  .col-md-3.mbtm15
    = email_field_tag("company[email]", nil, class: "form-control", placeholder: "Email")
.row{style: "display:none;"}
