%section#main-content
  %section.wrapper
    %h2 Edit Client/Supplier
    %section.panel
      %div.panel-body.ptop35
        = form_tag company_path(@company.id), method: :patch do
          .row
            .col-md-3.mbtm15
              = select_tag "company[_type]", options_for_select([["Client","Companies::Client"],["Supplier","Companies::Supplier"]],@company._type),prompt: "Select Client/Supplier", class: "form-control", required: true
          .row
            .col-md-3.mbtm15
              = text_field_tag("company[name]", @company.name, class: "form-control", placeholder: "Company Name")
            .col-md-3.mbtm15
              = text_field_tag("company[attention]", @company.attention, class: "form-control", placeholder: "Attention")
          .row
            .col-md-3.mbtm15
              = text_field_tag("company[address]", @company.address, class: "form-control", placeholder: "Address")
            .col-md-3.mbtm15
              = text_field_tag("company[city]", @company.city, class: "form-control", placeholder: "City")
          .row
            .col-md-3.mbtm15
              = text_field_tag("company[state]", @company.state, class: "form-control", placeholder: "State")
            .col-md-3.mbtm15
              = text_field_tag("company[zip]", @company.zip, class: "form-control", placeholder: "Zip")
          .row
            .col-md-3.mbtm15
              = phone_field_tag("company[phone]", @company.phone, class: "form-control", placeholder: "Phone")
            .col-md-3.mbtm15
              = email_field_tag("company[email]", @company.email, class: "form-control", placeholder: "Email")
          .row
            .col-md-12
              .actions
                = submit_tag nil,class: "btn btn-primary"