
.sign_up
  .col-lg-6
    %section.panel
      %header.panel-heading
        Login
      .panel-body
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f|
          .form-group
            %label.col-lg-2.control-label{:for => "inputEmail1"} Email
            .col-lg-10
              = f.email_field :email, autofocus: true,class: "form-control",placeholder: "Email"
              %p.help-block
          .form-group
            %label.col-lg-2.control-label{:for => "inputPassword1"} Password
            .col-lg-10
              = f.password_field :password, autocomplete: "off",class: "form-control",placeholder: "Password"
          .form-group
            .col-lg-offset-2.col-lg-10
              = f.check_box :remember_me
              = f.label :remember_me
          .form-group
            .col-lg-offset-2.col-lg-10
              %button.btn.btn-danger{:type => "submit"} Sign in
      = render "devise/shared/links"