%section.wrapper
  %h1 Need Quotation
  %section.panel
    .panel-body.ptop35

      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Product details
            %th Quantity
            %th Supplier item number
            %th Each Cost
            %th Additional Note(optional)
        =form_tag prices_path, method: :post do
          = hidden_field_tag "rsq_id", @rfq.id
          %tbody
            - @rfq.items_to_quote.to_a.each_with_index do |item, index |
              = hidden_field_tag "products[][product_id]", item["product_id"]
              = hidden_field_tag "products[][item_id]", item["_id"]
              %tr
                %td
                  #{index+1}
                %td
                  .row
                    .col-md-12
                      %div
                        %span.project_details
                          Name :
                        = item["type"]
                        &nbsp; &nbsp; &nbsp;

                      .row
                        .col-md-4{style: "padding-right: 0px;"}
                          - unless item.product.source.file.blank?
                            = image_tag(item.product.source.url, class: "product-img")
                          = "Size: #{item.product.size}"
                        .col-md-8
                          = item.product.description
                      - item.product.addons.each do |addon|
                        .project_details
                          #{addon}:
                        - addon = item.product.instance_eval(addon)
                        .row
                          .col-md-3{style: "padding-right: 0px;"}
                            - unless addon.source.file.blank?
                              = image_tag(addon.source.url, class: "product-img")
                          .col-md-9
                            = addon.details
                %td
                  = item["quantity"]
                %td
                  = text_field_tag("products[][supplier_item_number]", nil, class: "form-control",  required: true)
                %td
                  = number_field_tag("products[][supplier_cost]",nil, class: "form-control",:step => 'any',  required: true,min: 0)
                %td
                  = text_area_tag("products[][supplier_note]", nil, class: "form-control")
              %tr
                %td{colspan:4}
                %td
                  Shipping Cost (*if any?)
                %td
                  = number_field_tag("shipping_cost", 0, class: "form-control",:step => 'any',  required: true,min: 0)
              %tr
                %td{colspan:6}
                  = submit_tag("Submit", class: "btn btn-success")