%section.wrapper
  %h1 Product Price
  %section.panel
    .panel-body.ptop35
      .row
        .col-md-2
          Product
        .col-md-2
          Supplier item number
        .col-md-2
          Price
        .col-md-2
          Additional Note(optional)
      %hr
      =form_tag prices_path, method: :post do
        = hidden_field_tag "rsq_id", @rfq.id
        - @rfq.items_to_quote.each do |item|
          = hidden_field_tag "products[][product_id]", item["product_id"]
          = hidden_field_tag "products[][item_id]", item["_id"]
          .row
            .col-md-2
              = item["type"].split("::").last
            .col-md-2
              = text_field_tag("products[][supplier_item_number]", nil, class: "form-control",  required: true)
            .col-md-2
              = number_field_tag("products[][supplier_cost]",nil, class: "form-control",  required: true,min: 0)
            .col-md-2
              = text_area_tag("products[][supplier_note]", nil, class: "form-control")
        %hr
        .row
          .col-md-12
            = submit_tag("Submit", class: "btn btn-success")
