%section#main-content
  %section.wrapper
    %h1 Edit Item
    %section.panel
      %div.panel-body.ptop35
        - product = @product._type.split("::").last
        - if product.eql?("Artwork")
          = render  "/products/forms/artwork/#{@product.artwork_type.downcase}"
        - else
          = render  "/products/forms/#{product.downcase}"

= javascript_include_tag 'product', 'data-turbolinks-track' => true