%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row.txt-clr
        %ul.nav.top-menu
          %li
            = link_to "Add Item", new_product_path,class:'btn'
          %li
            %form.navbar-form
              %input.form-control{:placeholder => "Search", :type => "text"}
    %section.panel
      %header.panel-heading.no-border
        Item's
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Artline Number
            %th Artline Title
            %th Action
        %tbody
        = will_paginate @products
        - @products.each_with_index do |product,index|
          %tr
            %td
              #{index+1}
            %td
              #{product.number}
            %td
              #{product.title}
            %td
              .btn-group
                %a.btn.btn-primary{:href => "#"}
                  %i.icon_plus_alt2
                %a.btn.btn-danger{:href => "#"}
                  %i.icon_close_alt2