%section#main-content.cus
  %section.wrapper
    %div.serch_bg
      #top_menu.nav.search-row.txt-clr
        %ul.nav.top-menu
          %li
            = link_to "Add Item", new_product_path,class:'btn'
          %li
            %form.navbar-form
              %input.form-control{:placeholder => "Search", :type => "text"}
    %section.panel
      %header.panel-heading.no-border
        Item's
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Artline Number
            %th Type
            %th Action
        %tbody
        - @products.each_with_index do |product,index|
          %tr
            %td
              #{index+1}
            %td
              #{product.number}
            %td
              #{product._type.split("::").last}
            %td
              .btn-group
                = link_to("Update", edit_product_path(product.id), class: "btn btn-primary" )
                = link_to("Delete", product_path(product.id), method: :delete, class: "btn btn-danger" )
      = will_paginate @products