%section#main-content.cus
  %section.wrapper
    %section.panel
      %header.panel-heading.no-border
        Item
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Action
        %tbody
          %tr
            %td
              = @product._type
            %td
              .btn-group
                = link_to("Update", edit_product_path(@product.id), class: "btn btn-primary" )
                = link_to("Delete", product_path(@product.id), method: :delete, class: "btn btn-danger" )
  - if @product.prices.present?
    %section.panel
      %header.panel-heading.no-border
        Prices
      %table.table.table-bordered
        %thead
          %tr
            %th Price
        %tbody
          - @product.prices.each do |price|
            %tr
              %td
                = price
  - if @suppliers.present?
    %section.panel
      %header.panel-heading.no-border
        Prices
      %table.table.table-bordered
        %thead
          %tr
            %th Supplier Name
            %th
        %tbody
          = form_tag(create_request_quote_path, method: :post) do
            = hidden_field_tag "request_quote[item_id]", @product.id
            - @suppliers.each do |supplier|
              %tr
                %td
                  = supplier.name
                - if supplier.prices.present?
                  %td
                    - supplier.prices.each do |price|
                      = "#{price},"
                - else
                  %td
                    = check_box_tag "request_quote[supplier_id][]", "#{supplier.id}"
            %tr
              %td
                = submit_tag("Get supplier quota", class: "btn btn-primary")