!!!
%html
  %head
    %title Artline
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  - flash.each do |name, msg|
    #flash_messages
      .alert_wrapper{:style => "top: -60px;"}
        .alert.alert-info.alert-dismissible.fade.in
          %button.close{"data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          = content_tag :div, msg, :id => "flash_#{name}", class: "text-center"

  %body
    - if user_signed_in?
      %section#container
        %header.header.dark-bg
          .toggle-nav
            .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
          %a.logo{:href => ""}
            ArtLine
          .top-nav.notification-row
            %ul.nav.pull-right.top-menu
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.profile-ava
                    = image_tag("avatar-small.png")
                  %span.username
                    = current_user.email
                  %b.caret
                %ul.dropdown-menu.extended.logout
                  .log-arrow-up
                  %li.eborder-top
                    = link_to edit_user_registration_path(current_user) do
                      %i.icon_profile
                      Edit Profile
                  %li
                    = link_to destroy_user_session_path,method: :delete do
                      %i.icon_mail_alt
                      Logout
        %aside
          #sidebar.nav-collapse{:style => "overflow: hidden; outline: none;", :tabindex => "5000"}
            %ul.sidebar-menu
              -#%li.active
              -#  = link_to "" do
              -#    %i.icon_house_alt
              -#    %span Dashboard
              -if current_user.is?(:super_admin)
                %li
                  = link_to project_managers_path, method: :get do
                    %i.icon_document_alt
                    %span Project Managers
              %li
                = link_to projects_path do
                  %i
                  %span Quote's
              %li
                = link_to orders_path do
                  %i
                  %span Process Order
              %li
                = link_to tracking_orders_path do
                  %i
                  %span Check Order Status
              %li
                = link_to products_path do
                  %i
                  %span Add/Edit Item
              %li
                = link_to companies_path do
                  %i
                  %span Client's/Supplier's
    -else
      %section#container
        %header.header.dark-bg
          .toggle-nav
            .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
          %a.logo{:href => ""}
            ArtLine
    .clearfix
    = yield
