!!!
%html
  %head
    %title Artline
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if user_signed_in?
      %section#container
        %header.header.dark-bg
          .toggle-nav
            .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
          %a.logo{:href => ""}
            ArtLine
          .top-nav.notification-row
            %ul.nav.pull-right.top-menu
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.profile-ava
                    = image_tag("avatar-small.png")
                  %span.username
                    = current_user.email
                  %b.caret
                %ul.dropdown-menu.extended.logout
                  .log-arrow-up
                  %li.eborder-top
                    = link_to edit_user_registration_path(current_user) do
                      %i.icon_profile
                      Edit Profile
                  %li
                    = link_to destroy_user_session_path,method: :delete do
                      %i.icon_mail_alt
                      Log Out
        %aside
          #sidebar.nav-collapse{:style => "overflow: hidden; outline: none;", :tabindex => "5000"}
            %ul.sidebar-menu
              -#%li.active
              -#  = link_to "" do
              -#    %i.icon_house_alt
              -#    %span Dashboard
              -if current_user.is?(:super_admin)
                %li
                  = link_to new_users_path, method: :get do
                    %i.icon_document_alt
                    %span Create PM
              %li
                = link_to new_projects_path do
                  %i
                  %span New Quote
              %li
                = link_to edit_projects_path do
                  %i
                  %span Edit Quote
              %li
                = link_to "" do
                  %i
                  %span Process Order
              %li
                = link_to "" do
                  %i
                  %span Check Order Status
              %li
                = link_to "" do
                  %i
                  %span Add/Edit Item
              %li
                = link_to "" do
                  %i
                  %span Add/Edit Item
    -else
      %section#container
        %header.header.dark-bg
          .toggle-nav
            .icon-reorder.tooltips{"data-original-title" => "Toggle Navigation", "data-placement" => "bottom"}
          %a.logo{:href => ""}
            ArtLine
    = yield
